################################################
# Keil Build Output Directories
################################################

Software/**/MDK-ARM/Master/
Software/**/MDK-ARM/Slave1/
Software/**/MDK-ARM/Slave2/

################################################
# Keil MDK - User specific
################################################

*.uvguix.*
*.uvoptx
*.scvd

################################################
# Keil Build Output
################################################

**/MDK-ARM/*/*.o
**/MDK-ARM/*/*.d
**/MDK-ARM/*/*.crf
**/MDK-ARM/*/*.dep
**/MDK-ARM/*/*.axf
**/MDK-ARM/*/*.hex
**/MDK-ARM/*/*.map
**/MDK-ARM/*/*.lnp
**/MDK-ARM/*/*.sct
**/MDK-ARM/*/*.htm
**/MDK-ARM/*/*.build_log.htm

################################################
# Generic Build Files
################################################

*.o
*.obj
*.d
*.dep
*.crf
*.map
*.axf
*.elf
*.hex
*.bin
*.lst
*.bak
*.tmp

################################################
# STM32CubeIDE
################################################

.project
.cproject
.settings/

Debug/
Release/

################################################
# VSCode
################################################

.vscode/

################################################
# Operating System
################################################

Thumbs.db
Desktop.ini
.DS_Store

################################################
# Logs
################################################

*.log

################################################
# KEEP IMPORTANT PROJECT FILES
################################################

!.ioc
!.mxproject
!.uvprojx
!.s